<!DOCTYPE html>
<html>
<head>
	<title>raspi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>

		body>div {
			margin: 1em;
		}

		#thumbnail img {
			max-width: 100%;
		}

		#status {
			font-family: monospace;
			border: 1px solid #333;
		}
		#status table {
			margin: 0.2em;
		}
		#status tr {
			height: 1.5em;
		}
		#status td:first-child {
			width: 6em;
		}

		.control input {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: large;
			padding: 0.3em 0.6em;
		}

		#message {
			color: #666;
			font-size: small;
		}

	</style>
</head>
<body>
	<div id="thumbnail"></div>
	<div id="status"></div>
	<div class="control">
		<input type="button" onclick="updateStatus()" value="update">
		<input type="button" onclick="playUrlInClipboard()" value="play">
		<input type="button" onclick="pause()" value="pause">
		<input type="button" onclick="stop()" value="stop">
		<input type="button" onclick="prev()" value="prev">
		<input type="button" onclick="next()" value="next">
		<input type="button" onclick="shuffle()" value="shuffle">
		<input type="button" onclick="changeVolume(+10)" value="louder">
		<input type="button" onclick="changeVolume(-10)" value="quieter">
	</div>
	<div id="message" onclick="clearMessage()"></div>
	<script>

		var currentStatus = {};

		function updateStatus() {
			fetch('/api/music/status', {
				method: 'GET',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				currentStatus = data;
				let table = document.createElement('table');
				Object.keys(data).forEach(key => {
					if (typeof(data[key]) === 'object') return;
					let row = document.createElement('tr');
					let keyCell = document.createElement('td');
					keyCell.innerText = key;
					row.appendChild(keyCell);
					let valueCell = document.createElement('td');
					valueCell.innerText = data[key];
					row.appendChild(valueCell);
					table.appendChild(row);
				});
				let dom = document.getElementById('status');
				dom.innerHTML = '';
				dom.appendChild(table);
				showThumbnail();
				appendMessage('ok');
			});
		}
		function playUrlInClipboard() {
			navigator.clipboard.readText().then(text => {
				return fetch('/api/music/play', {
					method: 'POST',
					cache: 'no-cache',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						'url': text,
					}),
				});
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function pause() {
			fetch('/api/music/pause', {
				method: 'POST',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function stop() {
			fetch('/api/music/stop', {
				method: 'POST',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function prev() {
			fetch('/api/music/prev', {
				method: 'POST',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function next() {
			fetch('/api/music/next', {
				method: 'POST',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function shuffle() {
			fetch('/api/music/shuffle', {
				method: 'POST',
				cache: 'no-cache',
			}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}
		function changeVolume(diff) {
			fetch('/api/music/volume', {
					method: 'POST',
					cache: 'no-cache',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						'volume': currentStatus.volume + diff,
					}),
				}).then(response => {
				return response.json();
			}).then(data => {
				console.log(data);
				appendMessage(data.ok ? 'ok' : 'failed');
				updateStatus();
			}).catch(e => {
				console.error(e);
				appendMessage(e.message);
			});
		}

		function showThumbnail() {
			let box = document.getElementById('thumbnail');
			box.innerHTML = '';

			let path = currentStatus.path;
			if (!path) return;
			let m = path.match(/(?:v=|\/)([\w\-_]+)$/);
			if (!m) return;
			let videoId = m[1];
			let img = document.createElement('img');
			img.src = `https://img.youtube.com/vi/${videoId}/0.jpg`;
			box.appendChild(img);
		}
		function appendMessage(text) {
			let t = new Date();
			let box = document.getElementById('message');
			let record = document.createElement('div');
			record.innerText = `[${t.toLocaleDateString()} ${t.toLocaleTimeString()}] ${text}`;
			box.insertBefore(record, box.firstChild);
		}
		function clearMessage() {
			document.getElementById('message').innerText = '';
		}

		document.addEventListener('DOMContentLoaded', (e) => {
			updateStatus();
		});

	</script>
</body>
</html>
